/* do not let email address show up as blue */
.item a {
    color:black;
}

/* style when anchor link is active */
a.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* show > before active email for the anchor class */
a.active:before {
    content: '>';
    font-size: 20px;
    margin-right: 10px;
}

/* for email-show component email subject or address not running over */
.content {
    width: 90%;
}

/* for email-show component email subject or address not running over */
.trim {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}