/* do not let email address show up as blue */
.item a {
    color:black;
}

/* style when anchor link is active */
a.active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* show > before active email for the anchor class */
a.active:before {
    content: '>';
    font-size: 20px;
    margin-right: 10px;
}