<form [formGroup]="emailForm"
      (ngSubmit)="onSubmit()"
      class="ui form">
    <app-email-input [control]="emailForm.controls.to"
                     label="To"
                     inputType="email"></app-email-input>
    <app-email-input [control]="emailForm.controls.from"
                     label="From"
                     inputType="email"></app-email-input>
    <app-email-input [control]="emailForm.controls.subject"
                     label="Subject"
                     inputType="text"></app-email-input>
    <app-email-input [control]="emailForm.controls.text"
                     label="Body"
                     controlType="textarea"></app-email-input>

    <button class="ui button primary">Send</button>
</form>