<!-- if modal is placed within another component, then if the parent component -->
<!-- has css position:relative, then the modal might not show up correctly  -->
<!-- in the center of the screen. It might position off and be too small. -->
<!-- Instead, a common solution for modal is to put it directly inside the body element -->
<!-- and show and hide modal as needed -->

<div class="ui dimmer visible active" (click)="onCloseClick()">
    <!-- stop event bubbling up and trigger click event from going up to parent component-->
    <!-- by using (click)="$event.stopPropagation()" -->
    <div (click)="$event.stopPropagation()" class="ui modal visible active">
        <i class="close icon" (click)="onCloseClick()"></i>
        <div class=" header">
            <!-- making modal reusable use ng-content instead -->
            <!-- Modal! -->
            <ng-content select="[modalTitle]"></ng-content>
        </div>
        <div class="content">
            <!-- making modal reusable use ng-content instead -->
            <!-- <p>Some content</p> -->
            <ng-content></ng-content>
        </div>

        <!-- two buttons below, by twisting css -->
        <!-- if parent supplies a button, then show the parent's button [modalFooter]-->
        <!-- otherwise, show the defaul button OK -->
        <div class="actions actions-default">
            <button class="ui button" (click)="onCloseClick()">OK</button>
        </div>
        <div class="actions">
            <ng-content select="[modalFooter]"></ng-content>
        </div>
    </div>
</div>